*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.618;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
font-size: 16px;
margin-top: 3em;
}

h1, h2, h3, p{
    color: white;
    /* padding-left: 12px;
    padding-bottom: 16px; */
}

header{
    padding-top: 0px;
}

header,
footer{
    margin: 0 auto;
    max-width: 600px
}

body{
    background-color: purple;
    max-width: 100%;
    height: auto;
    position: relative;
    background-attachment: fixed;
    text-align: center;
    color: white;
}
.gridForm{
    float: left;
    padding-left: 200px;
    padding-top: 60px;
    border-radius: .5rem;
}

.middle{
    padding-right: 480px;
    padding-top: 60px;
}

.gridSocial {
   float: right;
   padding-right: 260px;
   border-radius: .5rem;
  }

#box{
    border-radius: .5rem;
}

#registerbutton{
    border: rem solid var(--navText);
    border-radius: .5rem;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* display:grid; */
    /* align-items: end; */
  
    /* margin: 10px; */
  }
  


footer{
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
}